NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_LEGACY_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

OPENAI_API_KEY=
AI_BASE_URL=https://api.openai.com/v1
DEFAULT_AI_MODEL=gpt-4o-mini
DEFAULT_EMBED_MODEL=text-embedding-3-small

NAVER_PARTNER_ID=
NAVER_PARTNER_PW=

WAPO_ID=
WAPO_PW=
NYT_ID=
NYT_PW=
FT_ID=
FT_PW=
SCMP_ID=
SCMP_PW=
